@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Raleway:ital,wght@0,300;1,300&display=swap');

html {	
	 scroll-behavior: smooth;
	 }

*   {
	margin: 0;
	padding: 0;
	z-index: 1;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	}

body {
	 z-index: 1;
	 margin: 0;
	 }

nav{
    background-color: #000000;	
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    padding: 5px 10%;
	border-bottom: 1px solid #eceff1 ;
	opacity: 0.75;
	position: fixed;
	width: 100%;
}

nav .logo{
    cursor: pointer;
    margin-right: auto;
}

nav .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

nav .logo img:hover{
    transform: scale(1.2);
}

nav .nav_links{
    list-style: none;
}

nav .nav_links li{
    display: inline-block;
    padding: 0 20px;    
}

nav .nav_links li:hover,
/**/.overlay a:hover{
    transform: scale(1.1);
}

nav .nav_links a{
    font-size: 700;
    color: #eceff1; 
	text-decoration: none;
}

nav .nav_links a:hover{
    color: #FFC501;
}

.btn{
	color: #FFC501;
	text-decoration: none;
	border-radius: 15px;
	border: 1.5px solid #FFC501;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
}

.container  {
			z-index: 1;
			max-width: 1140px;
			padding: 0 15px;
			margin: auto;
			}

.container_fluid {
				 z-index: 1;
				 width: calc(100% - 30px);
				 }

.row {
	 z-index: 1;
   	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
     margin-right: -15px;
     margin-left: -15px;
	 }

.col {
	 z-index: 1;
	 padding: 0 15px;
	 }


.col-12 {
		z-index: 1;
		flex: 0 0 calc(100% - 30px);
   		max-width: calc(100% - 30px);
        }
.col-8  {
		z-index: 1;
		flex: 0 0 calc(60% - 30px);
   		max-width: calc(60% - 30px);
        }

.col-6  {
		z-index: 1;
		flex: 0 0 calc(50% - 30px);
   		max-width: calc(50% - 30px);
        }

.col-5  {
		z-index: 1;
		flex: 0 0 calc(41.0% - 30px);
   		max-width: calc(41.0% - 30px);
		}

.col-4  {
		z-index: 1;
		flex: 0 0 calc(33.3% - 30px);
   		max-width: calc(33.3% - 30px);
		}

.col-3  {
		z-index: 1;
		flex: 0 0 calc(25% - 30px);
   		max-width: calc(25% - 30px);
		}

.col-2  {
		z-index: 1;
		flex: 0 0 calc(16.6% - 30px);
   		max-width: calc(16.6% - 30px);
		}

ul  {
	z-index: 1;
	margin: auto;
	padding: 0;
	}

li 	{
	z-index: 1;
	list-style: none;
	display: inline-block;
	margin: 0 1px;
	position: relative;
	float:left;
	}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 72px;
	/*display: none;*/
	z-index: 1;
}

p {
  z-index: 1;
  text-align: justify;
  color: aliceblue;
  }

img {
	z-index: 1;
	width: 100%;
	height: auto;
	}

#proyectos_estrellas {
					 background: #FFC501;
					 opacity: 0.85;
					 }
.sub-titular {
			 font-size: 21px;
 			 }
#resumen {
		 background-color: #282828;
		 }

#resumen .img_resumen {
					  margin-top: 40px;
					  margin-bottom: 5px;
					  height: 150px;
					  width: 368px;
				      }

.triangulo  {
			width: 0;
			height: 0;
			border-left: 950px solid transparent;
			border-right: 950px solid transparent;
			border-top: 70px solid #282828;
			}


/*section {
		z-index: 1;
		padding: 30px 0;
		}*/

#contacto,checkbox{
	color: aliceblue;
}

#back-top {
		  opacity: 1;
		  visibility: visible;
		  right:40px;
		  color: #FFC501;
		  height: auto;
		  position: fixed;
		  bottom: 60px;
		  margin: 0;
		  z-index: 10000;
		  }



#social-footer  {
				z-index: 1;
				padding: 0;
				margin: auto;
				}

#social-footer li {
				  z-index: 1;
				  list-style: none;
				  display: inline-block;
				  margin: 0 5px;
				  }

#pie-pagina form .btn-newsletter {
								 z-index: 1;
								 position: absolute;
								 right: 0;
								 top: 0;
								 height: 29px;
								 }	

#back-top {
										z-index: 9;
										padding: 10px;
										font-size: 20px;
										display: inline-flex;
										align-items: center;
										justify-content: center;
										text-decoration: none;
										position: fixed;
										bottom: 0;
										}


/*fondos*/

#portafolio {
			background: #282828;
			}

#contacto {
		  background: #000000;
		  }
#pie-pagina,img_fond_pie{
	z-index: -2;
	display: flex;
	background: url("../img/Fondo_04.jpg");
	background-opacity: 20%;
	padding-bottom: 50px;
	padding-top: 50px;
}

/*
.btn {
	 z-index: 1;
	 padding: 5px 15px;
	 font-size: 16px;
	 text-decoration: none;
	 display: inline-block;
	 color: #000;
	 line-height: 1 !important;
	 }

.enlace {
		z-index: 1;
		text-decoration: none;
		font-size: 18px;
		position: relative;
		display: inline-block;
		color: #000;
		}

.enlace:before  {
				z-index: 1;
				content: "";
				position: absolute;
				height: 1px;
				background: #000;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				max-width: 0%;
				transition: all ease-in-out .7s;
				}

.enlace:hover:before {
					 z-index: 1;
					 max-width: 100%;
					 }

section {
		z-index: 1;
		padding: 30px 0;
		}

section.blog {
    		 z-index: 1;
			 padding: 30px 0;
			 background-image: url(../img/Fondo_03.jpg);
			 }


form {
	 z-index: 1;
	 position: relative;
	 }

form label  {
			z-index: 1;
			display: none;
			margin-bottom: 5px;
			}

form input, form textarea   {
							z-index: 1;
							display: block;
							width: -webkit-fill-available;
							padding: 5px 10px;
							outline: none;
							}
form .form-group {
				 z-index: 1;
				 margin-bottom: 15px;
				 }

enlace enlace-copy {
					z-index: 1;
					content: "";
				 	width: 1px;
					height: 30px;
					background: #000000;
				 	display: inline-block;
				 	position: absolute;
		 			top: 50%;
				 	margin-top: -15px;
			 		margin-left: -2px;																					 
					}


#pie-pagina form .btn-newsletter {
								 z-index: 1;
								 position: absolute;
								 right: 0;
								 top: 0;
								 height: 29px;
								 }	

#back-top, #whatsapp-modal, #bot-modal  {
										z-index: 9;
										padding: 10px;
										font-size: 20px;
										display: inline-flex;
										align-items: center;
										justify-content: center;
										text-decoration: none;
										position: fixed;
										bottom: 0;
										}

#back-top {
		  opacity: 1;
		  visibility: visible;
		  right:40px;
		  color: #000000;
		  height: auto;
		  position: fixed;
		  bottom: 65px;
		  margin: 0;
		  z-index: 10000;
		  }

#whatsapp-modal {
				z-index: 6;
				left: 50%;
				}

#bot-modal  {
			z-index: 7;
			left: 75%;
			}

#contacto,checkbox{
	color: aliceblue;
}
 */