@charset "utf-8";
/* CSS Document */

html {	
	 scroll-behavior: smooth;
	 }

body {
	 z-index: 1;
	 margin: 0;
	 }

*   {
	z-index: 1;
	font-family: sans-serif;
	}

.container  {
			z-index: 1;
			max-width: 1140px;
			padding: 0 15px;
			margin: auto;
			}

.row {
	 z-index: 1;
   	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
     margin-right: -15px;
     margin-left: -15px;
	 }

.col {
	 z-index: 1;
	 padding: 0 15px;
	 }

.col-12 {
		z-index: 1;
		flex: 0 0 calc(100% - 30px);
   		max-width: calc(100% - 30px);
        }
.col-8  {
		z-index: 1;
		flex: 0 0 calc(60% - 30px);
   		max-width: calc(60% - 30px);
        }

.col-6  {
		z-index: 1;
		flex: 0 0 calc(50% - 30px);
   		max-width: calc(50% - 30px);
        }

.col-5  {
		z-index: 1;
		flex: 0 0 calc(41.0% - 30px);
   		max-width: calc(41.0% - 30px);
		}

.col-4  {
		z-index: 1;
		flex: 0 0 calc(33.3% - 30px);
   		max-width: calc(33.3% - 30px);
		}

.col-3  {
		z-index: 1;
		flex: 0 0 calc(25% - 30px);
   		max-width: calc(25% - 30px);
		}

.col-2  {
		z-index: 1;
		flex: 0 0 calc(16.6% - 30px);
   		max-width: calc(16.6% - 30px);
		}

#top-bar {
		 z-index: 1;
		 padding: 10px 0;
		 }

#top-bar ul {
			z-index: 1;
			margin: auto;
			padding: 0;
			}

#top-bar ul li  {
				z-index: 1;
				list-style: none;
				display: inline-block;
				}

#top-bar #datos-top-bar li i {
							 z-index: 1;
							 margin-right: 5px
							 }

#top-bar ul li a {
				 z-index: 1;
				 text-decoration: none;
			 	 display: inline-block;
				 padding: 10px;
				 }

nav {
	z-index: 1;
	padding: 1px 0;
	}

#logo-nav   {
			z-index: 1;
			width: 150px;
			display: inline-block;
			vertical-align: middle;
			}

#logo-nav h1 {
			 z-index: 1;
			 display: none;
			 }

#logo-nav img   {
				z-index: 1;
				width: 100%;
				height: auto;
				}

#menu-superior .container   {
							z-index: 1;
							display: flex;
							flex-wrap: wrap;
 						    justify-content: space-between;
   							align-items: center;
							}

#menu-superior .enlaces-nav {
							z-index: 1;
							display: inline-block;
							}

#menu-superior .enlaces-nav ul, #menu-superior #icon-nav .icons-nav {
																	z-index: 1;
																	margin: auto;
																	padding: 0;
																	}

#menu-superior .enlaces-nav li, #menu-superior #icon-nav .icons-nav li 	{
																		z-index: 1;
																		list-style: none;
																		display: inline-block;
																		margin: 0 1px;
																		position: relative;
																		float: left;
																		}

/*#menu-superior .enlaces-nav li:before, #menu-superior #icon-nav .icons-nav li:before {
																					 z-index: 1;
																					 content: "";
																				 	 width: 1px;
																					 height: 30px;
																					 background: #000;
																					 display: inline-block;
																					 position: absolute;
																					 top: 50%;
																					 margin-top: -15px;
																					 margin-left: -2px;
																					 }*/

#menu-superior .enlaces-nav li:first-child:before, #menu-superior #icon-nav .icons-nav li:first-child:before {
																											 z-index: 1;
																											 content: none;
																											 }

#menu-superior .enlaces-nav li a, #menu-superior #icon-nav .icons-nav li a 	{
																			z-index: 1;
																			text-decoration: none;
																			font-size: 18px;
																			padding: 10px 12px;
																			display: inline-block;
																			transition: all ease-in-out .7s;
																			}

ul  {
	z-index: 1;
	margin: auto;
	padding: 0;
	}
li 	{
	z-index: 1;
	list-style: none;
	display: inline-block;
	margin: 0 1px;
	position: relative;
	float:left;
	}



img {
	z-index: 1;
	width: 100%;
	height: auto;
	}

.container-fluid {
				 z-index: 1;
				 width: calc(100% - 30px);
				 padding: 0 15px;
				 }

.galeria-portafolio {
					z-index: 1;
					display: grid;
					/*grid-template-columns:repeat (4, 1fr);*/
					grid-template-rows: 250px;
					grid-gap: 3px;
					}

.galeria-portafolio .box-img {
							 z-index: 1;
							 position: relative;
							 }

.galeria-portafolio .box-img .cont-galeria  {
											z-index: 1;
											position: absolute;
											left: 0;
											right: 0;
											top: 0;
											bottom: 0;
											display: flex;
											flex-direction: column;
											justify-content: center;
											align-items: center;
											transition: all ease-in-out .7s;
											opacity: 0;
											}

.galeria-portafolio .box-img:hover .cont-galeria {
												 z-index: 1;
												 opacity: 1;
												 }

.galeria-portafolio .box-img img {
								 z-index: 1;
								 height: 250px;
								 object-fit: cover;
								 object-position: center;
								 }

.galeria-portafolio .box-img:nth-child(1) {
										  z-index: 1;
										  grid-column-start: span 2;
										  }

.galeria-portafolio .box-img:nth-child(6) {
										  z-index: 1;
										  grid-column-start: span 2;
										  }

.btn {
	 z-index: 1;
	 padding: 5px 15px;
	 font-size: 16px;
	 text-decoration: none;
	 display: inline-block;
	 color: #000;
	 line-height: 1 !important;
	 }

.enlace {
		z-index: 1;
		text-decoration: none;
		font-size: 18px;
		position: relative;
		display: inline-block;
		color: #000;
		}

.enlace:before  {
				z-index: 1;
				content: "";
				position: absolute;
				height: 1px;
				background: #000;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				max-width: 0%;
				transition: all ease-in-out .7s;
				}

.enlace:hover:before {
					 z-index: 1;
					 max-width: 100%;
					 }

section {
		z-index: 1;
		padding: 30px 0;
		}

section.blog {
    		 z-index: 1;
			 padding: 30px 0;
			 background-image: url(../img/Fondo_03.jpg);
			 }


form {
	 z-index: 1;
	 position: relative;
	 }

form label  {
			z-index: 1;
			display: none;
			margin-bottom: 5px;
			}

form input, form textarea   {
							z-index: 1;
							display: block;
							width: -webkit-fill-available;
							padding: 5px 10px;
							outline: none;
							}
form .form-group {
				 z-index: 1;
				 margin-bottom: 15px;
				 }

enlace enlace-copy {
					z-index: 1;
					content: "";
				 	width: 1px;
					height: 30px;
					background: #000000;
				 	display: inline-block;
				 	position: absolute;
		 			top: 50%;
				 	margin-top: -15px;
			 		margin-left: -2px;																					 
					}

#social-footer  {
				z-index: 1;
				padding: 0;
				margin: auto;
				}

#social-footer li {
				  z-index: 1;
				  list-style: none;
				  display: inline-block;
				  margin: 0 5px;
				  }

#pie-pagina form .btn-newsletter {
								 z-index: 1;
								 position: absolute;
								 right: 0;
								 top: 0;
								 height: 29px;
								 }	

p {
  z-index: 1;
  text-align: justify;
  }

#back-top, #whatsapp-modal, #bot-modal  {
										z-index: 9;
										padding: 10px;
										font-size: 20px;
										display: inline-flex;
										align-items: center;
										justify-content: center;
										text-decoration: none;
										position: fixed;
										bottom: 0;
										}

#back-top {
		  z-index: 5;
		  left: 25%;
		  }

#whatsapp-modal {
				z-index: 6;
				left: 50%;
				}

#bot-modal  {
			z-index: 7;
			left: 75%;
			}
/*#servicios,img_fond_serv{
	z-index: -2;
	display: flex;
	background: url("../img/Fondo_01.jpg");
	background-opacity: 20%;
	background-color: 0,0,0,0,0,0%;
	background-size: cover;
	background-position: center;
}
#portafolio{
	background: #000000;
}
#testimonios,img_fond_tes{
	z-index: -2;
	display: flex;
	background: url("../img/Fondo_02.jpg");
	background-opacity: 20%;
	background-color: 0,0,0,0,0,0%;
	background-size: cover;
	background-position: center;
}

#blog,img_fond_blog{
	z-index: -2;
	display: flex;
	background: url("../img/Fondo_03.jpg");
	background-opacity: 20%;
	background-color: 0,0,0,0,0,0%;
	background-size: cover;
	background-position: center;
}
#pie-pagina,img_fond_pie{
	z-index: -2;
	display: flex;
	background: url("../img/Fondo_04.jpg");
	background-opacity: 20%;
	background-color: 0,0,0,0,0,0%;
	background-size: cover;
	background-position: center;
}
*/